<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="btn">Botão</div>
    <p class="p-especial">Paraágrado espercial</p>

    <div class="esp-menor">Menor</div>
    <div class="esp-medio">Medio</div>
    <div class="esp-maior">Maior</div>
    <h2 class="h-color">Aplicando Função condicional</h2>
    <div class="cost-border1">Função Borda 1</div>
    <div class="cost-border2">Função Borda 2</div>
    <div class="cost-border3">Função Borda 3</div>
</body>
</html>